body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:url('../../images/index/bg.svg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:10px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
