body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-1px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:120px;
  width:460px;
  height:460px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:100px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:640px;
  width:1300px;
  height:100px;
  display:flex;
  font-family:'Helvetica', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#4BD863;
  line-height:120px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:230px;
  width:100px;
  height:100px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#4BD863;
  line-height:120px;
}
#u659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:22px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:380px;
  width:700px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:22px;
}
#u660 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:center;
  line-height:24px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:340px;
  width:700px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:center;
  line-height:24px;
}
#u661 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:440px;
  width:150px;
  height:40px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u662_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u662.mouseOver {
  opacity:0.8;
}
#u662_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
#u662.mouseDown {
  opacity:1;
}
#u662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
